@font-face{
    font-family: segoeuibold;
    src: url('Segoe\ UI\ Bold.ttf');
    }
:root {
    --primary-color: #0A0708;
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  .showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
  }
  
  .showcase:before {
    content: '';
    background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .showcase h1 {
    font-size: 4rem;
  }
  
  .showcase p {
    font-size: 1.3rem;
  }
  
  .btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
    .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
    .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
    .menu-wrap .hamburger > div::after {
    top: 10px;
  }
    .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
    .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
    .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
    .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
body{
    background-color: #0A0708;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo:hover, #menu:hover, #social:hover{
    cursor: pointer;
}
#centerimg{
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

p{
    font-family:segoeuibold ;
    color: #605756;
}
#collectiontext{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 20px;
    width: 400px;
    height: 100px;
    text-align: justify;
    float: right;
}
#inferior{

    float: left;
}
button, #selection{
    font-size: large;
    float: right;
    padding: 10px;
    margin-left: 5px;
    margin-top: 192px;
    border-radius: 5%;
    color: #605756;
    background-color: #0A0708 ;
    border: 2px solid #605756;
}
#selection{
    border-left: none;
    border-right: none;
    margin-block: 65px;
    margin-left: -100px;
    width: 40px;
    height: 40px;
    float: right;
    display: block;
}
#social{
    margin-right: 30px;
    margin-top: 260px;
    float: right;
}
button:hover{
    cursor: pointer;
    color: #0A0708;
    background-color: #605756 ;
}
.showSlide {  
    display: none  
}  
    .showSlide img {  
        width: 100%;  
        display: inline-block;
    }  
.slidercontainer {  
    max-width: 200px;  
    position: relative;  
    display: inline-block;

}  
.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
}  
.right {  
    right: 0;  
    border-radius: 3px 0 0 3px;  
}  
    .left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  

.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  